@use "scss" as *;

.statistic {
  height: 240px;
  position: relative;
  background: url("../../../../assets/images/statistic-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;
  }

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
    display: flex;
    color: $txt-color;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .item-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 52px;
        }

        & > p {
          text-transform: uppercase;
        }
      }

      .value {
        font-size: 30px;
        font-weight: 600;
        color: #ffd100;
      }
    }
  }
}
