$header-bg: #002333;
$header-height: 65px;
$body-bg: #fafafa;
$txt-color: #fff;
$main-color: #f02d00;
$secondary-color: #eeff41;
$white: #fff;

$box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 1px;
$admin-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$border-radius: 20px;

$font-family: "Roboto", sans-serif;
