@use "scss" as *;

.login {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    .main {
      margin-top: 20px;
      width: 90%;

      .black {
        color: $main-color;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      .login-form {
        width: 100%;
      }
      .login-form-forgot {
        float: right;
      }
      .ant-col-rtl .login-form-forgot {
        float: left;
      }
      .login-form-button {
        width: 100%;
      }

      .ant-input-prefix {
        margin-right: 10px;
      }

      .submit-btn {
        background-color: #ce93d8;
        position: relative;

        &:hover {
          opacity: 0.7;
        }

        .spiner__icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #ce93d8;
      }
    }
  }
}
